@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

:root{
    --azul-dnc: #0c70f2;
    --preto-dnc: #303030;
    --cinza-hover: #c9c9c9;
    --fonte-padrao: 'Inter'
}

body {
    margin:  0;   /* Margem Externa */
    padding: 0;  /* Margem Interna */
    background:linear-gradient(180deg, rgba(12, 112, 242, 0.5) 20%, rgba(12, 112, 242, 0) 30%), #303030;
    background-repeat: no-repeat;
}

/*Menu de Navegação Princial*/
#principal {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color: var(--preto-dnc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:0px 0px 1px 0px solid #BABABA;

}

    #principal div a {
        font-family: var(--fonte-padrao);
        font-size: 25px;
        font-weight: 600px;
        color: #ffffff;
        text-decoration: none;

    }
        #principal div a:hover{
            color: var(--cinza-hover);
        }

    #menu {
        display: flex;
        width: 55%;
        justify-content:space-around ;
        align-items: center;
        margin-left: 5%;
    }

    #principal button {
        margin-right: 5%;
        background: var(--azul-dnc);
        border: 0;
        height: 39px;
        width: 80px;
        font-family: var(--fonte-padrao);
        font-size: 20px;
        font-weight: 600;
        line-height: 24.2px;
        color: #FFFFFF;
        box-shadow: 3px 2px 4px 0px hsla(214, 91%, 50%, 0.251);
        cursor: pointer;

    }

/* Seção Principal do site */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 100px;
}
    header {
        color: white;
        font-family: var(--fonte-padrao);

    }

    header h1{
        font-family: Inter;
        font-size: 80px;
        font-weight: 600;
        text-align: center;
    }

    header h2{
        font-family: Inter;
        font-size: 40px;
        font-weight: 700;
        line-height: 55px;
        text-align: center;
        margin-bottom: 250px;
    }

    header .invert{
        background-color: var(--preto-dnc);
        font-weight: bold;
        padding: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }

/* Formulário */

form {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 30px;
    font-weight: 600px;
    text-align: left;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}


form input{
    border-radius: 10px;
    height: 30px;
    border:0 ;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

form label{
    margin: 30px 0 0 0;
}


form input::placeholder{
    color: rgba(57, 57, 57, 0.5);

}


#checkbox-itens label {
    font-size: 50px;
}

#checkbox-itens {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type="checkbox"]{
    transform: scale(1.7);
    display: inline-table;
}

input[type="submit"] {
    background-color:  rgba(12, 112, 242, 0.25);
    width: 100%;
    height: 56px;
    font-size: 32px;
    color: white;
    margin-top: 100px;
    margin-bottom: 200px;
    box-shadow: 0px 6px 4px 0px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}

/* Estrutura do Footer */

footer {
    width: 100%;
    height: 500px;
    background-color: var(--azul-dnc);
}

footer .linha1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul{
    list-style: none;
    margin: 0px;
    padding: 0px; 
}

footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
    margin-bottom: 30px;
}

footer h5{
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 25px;
    font-family: var(--fonte-padrao);
    background-color:var(--preto-dnc);
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
    margin-bottom: 15px;

}

footer ul li{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 25px;
    font-family: var(--fonte-padrao);
    margin: 20px 0 20px 0;
}

footer ul li a {
    color: white;
    text-decoration:none ;
}

footer .endereco{
    font-family: var(--fonte-padrao);
    font-weight: 600;
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 80px;
    
}

footer ul li:hover{
    color: var(--cinza-hover);
}

#escola {
    width: 130px;
    margin-left: 80px;
}

#sobre {
    width: 170px;
    margin-left: 28px;
}

.linha2{
    font-family: var(--fonte-padrao);
    font-size: 25px;
    font-weight: 600;
    line-height: 30.26px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0px;
}

footer .linha2 a:hover{
    color: var(--cinza-hover);
}

#linha2color {
    color: white;
    text-decoration: none;
}

@media only screen and(max-width: 600px){

}

#principal{
    flex-direction: column;
    height: auto;
}

 /*  Menu  */
#menu{
    flex-direction: column;
    width: 100%;
    margin: 0px;
}

#menu a{
    display:flex ;
    align-items: center;
    height: 50px;
}

#principal button{
    width: 100%;
    margin: 0PX;
}

/*  Section  */

section h1{
    font-size: 38px;
}

section h2{
    font-size: 28px;
    padding-right: 5px;
    padding-left: 5px;
}

form{
    width: 95%;
    font-size: 20px;
}

.checkbox-itens{
    font-size: 16px;
}